.app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
align-items: center;

}
.main{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  width: 1240px;
  max-height: 950px;
  margin: 0 auto;
}