.boxInDev {
  display: flex;
  flex-direction: column;
    width: 50%;
    max-width: 80%;
    height: 100%;
    min-height: 400px;
    box-shadow: 0 -50px 100px rgb(94, 104, 46) inset;
    border-radius: 20%;
    animation: background 4s linear infinite;
  }
  
  @keyframes background {
    25% {
      box-shadow: -50px 0px 100px rgb(94, 53, 29) inset;
    }
    50% {
      box-shadow: 0px 50px 100px rgb(49, 119, 105) inset;
    }
    75% {
      box-shadow: 50px 0px 100px rgb(99, 30, 120) inset;
    }
  }
.titleInDev {
 font-size: 35px;
}
.informationInDev{
  font-size: 30px;
}
  
  /* Helpers */
  /* BODY {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EEE;
    font-size: 16px;
  } */