.order {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.property {
  font-family: "JetBrainsMono", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #8585ad;
  text-align: center;
  width: 120px;
  height: 56px;
}
.nutritionalProperties {
  display: flex;
  justify-content: space-between;
}
.title {
  font-family: "JetBrainsMono", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  width: 640px;
  /* font-family: ; */
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 520px;
}
.img {
  width: 440px;
  height: 240px;
}
.name{
  font-family: "JetBrainsMono", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.value{
  font-family: "Iceland", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
